<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/otherjs")
</head>
<body>
    <div class="row" style="--bs-gutter-x: 0px !important;">
        <nav class="navbar" style="background-color:black">
            <div class="container-fluid">
                <img src="~/assets/images/shreeyash_logo.jpg" style="height: 90px; width:230px" />
                <form class="d-flex">
                    <i class="fa fa-sign-out" aria-hidden="true" style="color:white; margin-right:5px;font-size:30px;"></i>
                    <span style="color:white; float:right; margin-right:25px">@Html.ActionLink("Logout", "Login", "Login")</span>
                </form>
            </div>
        </nav>
        <div class="row" style="min-height:400px">
            <div style="width: 15%; margin-top: 12px;">
                <ul class="nav flex-column" style="background-color: black; min-height:500px">
                    @if (Session["Role"].ToString() == "Teacher")
                    {
                        <li class="nav-link"><i class="fa fa-home" aria-hidden="true" style="font-size:25px; margin-right:8px"></i>@Html.ActionLink("Home", "AdminDashboard", "Dashboard")</li>
                        <li class="nav-link"><i class="fa fa-calendar-check-o" aria-hidden="true" style="font-size:25px; margin-right:8px"></i>@Html.ActionLink("Schedule Exam", "", "Exam")</li>
                        <li class="nav-link"><i class="fa fa-plus" aria-hidden="true" style="font-size:25px; margin-right:8px"></i>@Html.ActionLink("Add Questions", "CreateQuestion", "Questions")</li>
                        <li class="nav-link"><i class="fa fa-question" aria-hidden="true" style="font-size:25px; margin-right:8px"></i>@Html.ActionLink("viewquestion", "ViewQuestion", "Questions")</li>
                    }
                    @if (Session["Role"].ToString() == "Student")
                    {
                        <li class="nav-link"><i class="fa fa-home" aria-hidden="true" style="font-size:25px; margin-right:8px"></i>@Html.ActionLink("Home", "UserDashboard", "Dashboard")</li>
                    }

                </ul>
            </div>
            <div style="width:85%;margin-top:12px">
                @RenderBody()
            </div>
        </div>
        <div class="row">
            <footer>
                <div class="content-wrapper">
                    <div class="footerbgimg" style="color:blue">
                        <div>
                            Copyright &copy;
                            <p style="float:right;color:blue">Designed and Developed by <a href="#">Madhu.</a></p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
           if ('@TempData["Status"]' == "Success"){
                toastr.success('@TempData["Message"]');
            }
            if ('@TempData["Status"]' == "Error"){
                toastr.error('@TempData["Message"]');
            }
        });
    </script>
</body>
</html>